extends layout

block content
    br
    h3 Ingredietes por Total de masa
    br
    br  
    form(method="post" action='/')
        label(for='tipoMasa') Elija masa:
            select(name='tipoMasa')
                option= data.tiposMasa[0].tipo
                option= data.tiposMasa[1].tipo
                option= data.tiposMasa[2].tipo
                option= data.tiposMasa[3].tipo

        label(for='gramosMasa') Gramos de masa:
        input(type='number' min="1000" max="30000" name='gramosMasa')
        br
        br
        input(id='enviar' type='submit', value='Calcular')
    br
    hr
    
    table
        thead
            tr
            th Ingredientes para #{tipoMasa} gramos de masa
        tbody
            th Ingrediente
            th Peso
            tr
            td Harina
            td 1000
            tr
            td Agua
            td 600 
            tr
            td Levadura
            td 50
            tr
            td Azucar
            td 85
            tr
            td Manteca
            td 110
            tr
            td Sal
            td 20